{{!-- /** 
 *  @author @AduragbemiShobowale  Aduragbemi Shobowale
 *  @version 1.0
 */ --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Purchase Confirmation</title>
  </head>
  <body>
    <div
      style="
        background-image: url('https://res.cloudinary.com/dgde8cwjk/image/upload/v1716889371/Frame_325_nvabsa.png');
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        width: 80%;
        max-width: 34rem;
        margin: auto;
      "
    >
      <div
        style="
          display: grid;
          grid-template-columns: 1fr;
          place-items: center;
          width: 100%;
          max-width: 32rem;
          margin: auto;
        "
      >
        <button
          style="
            background-image: url('https://res.cloudinary.com/dgde8cwjk/image/upload/v1716889371/Frame_325_nvabsa.png');
            padding: 0.7rem 1rem;
            text-align: center;
            width: 100%;
            margin: auto;
            border: none;
            color: #ffff;
            border-radius: 8px;
          "
        >
          <img
            src="https://res.cloudinary.com/obacloud/image/upload/v1715955465/White_Logo_soaxrr.png"
            alt=""
          />
        </button>
      </div>

      <div
        style="
          display: grid;
          grid-template-columns: 1fr;
          background-color: #ffff;
          color: black;
          max-width: 36rem;
          margin: auto;
        "
      >
        <div style="max-width: 34rem; margin: auto">
          <h2
            style="
              color: #333;
              font-size: 20px;
              margin: 0 0 20px;
              text-align: center;
            "
          >
            Your PDF Purchase is Ready! Access Your Document Here
          </h2>
          <p
            style="
              color: #555;
              font-size: 14px;
              line-height: 1.5;
              margin: 0 0 20px;
            "
          >
            Thank you for your recent purchase! We are delighted to provide you
            with the PDF document you ordered. To access your PDF, simply click
            on the attachment below.
          </p>
          <p
            style="
              color: #555;
              font-size: 14px;
              line-height: 1.5;
              margin: 0 0 20px;
            "
          >
            If you encounter any issues or have any questions, feel free to
            reach out to our support team.
          </p>
          <h3 style="color: #333; font-size: 16px; margin: 20px 0 10px">
            Attachment
          </h3>
          <div
            style="
              display: flex;
              align-items: center;
            "
          >
            <a
              href="https://res.cloudinary.com/dgde8cwjk/image/authenticated/s--1Dt85nGt--/v1716567244/qkbhvywqaicodblai1lf.pdf"
              target="_blank"
              style="display: flex;"
            >
              <img
                src="https://res.cloudinary.com/dgde8cwjk/image/upload/v1716888721/icon__application_pdf__nimqgg.png"
                alt="PDF Icon"
                style="width: 15px; margin-right: 10px"
              />
              <a
                href="https://res.cloudinary.com/dgde8cwjk/image/authenticated/s--1Dt85nGt--/v1716567244/qkbhvywqaicodblai1lf.pdf"
                target="_blank"
                style="color: black; font-size: 14px; text-decoration: none"
              >Zero to N100M Sales Course</a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>