<div
  style="
        background-color: blue;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 34rem;
        margin: auto;
      "
>
  <div
    style="
          display: grid;
          grid-template-columns: 1fr;
          place-items: center;
          width: 100%;
          max-width: 32rem;
          margin: auto;
        "
  >
    <button
      style="
            background-color: blue;
            padding: 0.7rem 1rem;
            text-align: center;
            width: 100%;
            margin: auto;
            border: none;
            color: #ffff;
            border-radius: 8px;
          "
    >
      <img
        src="https://res.cloudinary.com/obacloud/image/upload/v1715955465/White_Logo_soaxrr.png"
        alt=""
      />
    </button>
  </div>

  <div
    style="
          display: grid;
          grid-template-columns: 1fr;
          background-color: #ffff;
          color: black;
          max-width: 36rem;
          margin: auto;
        "
  >
    <div style="max-width: 34rem; margin: auto">
      <h1 style="text-align: center">
        {{fullname}}! Welcome to 10X Revenue Growth
      </h1>
      <div style="text-align: center">
        <a
          href="https://10-x.vercel.app"
          style="display: inline-block; text-decoration: none"
        >
          <button
            style="
                  background-color: blue;
                  padding: 0.9rem 2.3rem;
                  text-align: center;
                  margin: 0.3rem 5rem;
                  width: 60%;
                  border: none;
                  color: #fff;
                  border-radius: 8px;
                  font-size: medium;
                "
          >
            Reset Your Password
          </button>
        </a>
      </div>
      <p style="padding: 0rem 0.7rem; text-align: center">
        If the above button does not work for you, copy and paste the following
        into your browser’s address bar:
      </p>
      <p
        style="
              padding: 0.9rem 0.7rem;
              background-color: #f1f5fe;
              text-align: center;
              border-radius: 4px;
            "
      >
        <a
          style="color: #1e2c4f; font-size: larger; "
          href=""
        >https://techstudioacademy.com/student/register</a>
      </p>

      <p style="text-align: center; color: #969bac; padding: 0.4rem 0rem">
        If you didn’t ask for reset password, you can disregard this email
      </p>
    </div>
  </div>
</div>