<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="background-color:blue; display: grid; grid-template-column: 1fr  grid-gap:0.5rem;  width:80%; max-width:38rem;  margin:auto; "
    >
      <div
        style="
          display: grid;
          grid-template-column: 1fr;
          place-items: center;
          width: 100%;
          max-width: 32rem;
          margin: auto;
        "
      >
        <button
          style="
            background-color: blue;
            padding: 0.7rem 1rem;
            text-align: center;
            width: 100%;
            margin: auto;
            border: none;
            color: #ffff;
            border-radius: 8px;
          "
        >
          <img
            src="https://res.cloudinary.com/obacloud/image/upload/v1715955465/White_Logo_soaxrr.png"
            alt=""
          />
        </button>
      </div>

      <div
        style="
          display: grid;
          grid-template-column: 1fr;
          background-color: #ffff;
          color: black;
          max-width: 38rem;
        "
      >
        <h1 style="text-align: center">
          {{fullname}}! Welcome to 10X Revenue Growth
        </h1>
        <p>Dear {{fullname}},</p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Tempus non vitae morbi
          pellentesque eu duis purus blandit. Ultrices nec vestibulum egestas
          mauris id feugiat in luctus. Porttitor amet risus ac etiam odio.
        </p>
        <p>
          Sociis ac sed vestibulum vulputate eget fringilla. Massa in ac elit et
          eget.
        </p>
        <div
          style="
            display: grid;
            grid-template-column: 1fr;
            place-items: center;
            width: 100%;
            max-width: 32rem;
            margin: auto;
          "
        >
          <a href="https://10-x.vercel.app">
            <button
              style="
                background-color: blue;
                padding: 0.7rem 4.9rem;
                text-align: center;
                width: 100%;
                margin: auto;
                border: none;
                color: #ffff;
                border-radius: 8px;
                font-size: medium;
              "
            >
              Go to Home
            </button></a>
        </div>
      </div>
    </div>
  </body>
</html>